.form {
	display: flex;
	border-top: 2px solid #d3d3d3;
	border-radius: 15px;
}

.input {
	border: none;
	border-radius: 10px;
	padding: 5%;
	width: 80%;
	font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.sendButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background:#446fa0;
	padding: 30px;
	display: inline-block;
	border: none;
	width: 20%;
	border-radius: 10px;
}
